@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Fira+Sans:ital,wght@0,100;1,100&family=Noto+Sans+Cypro+Minoan&family=Oswald:wght@200;700&family=Vidaloka&display=swap');

html,

:root {
  --bg_image: url('https://www.designyourway.net/diverse/darkpat/COLOURlovers.com-Gothic_Tablecloth.jpg');
  --text_color: white;
  --border: white;
}

[data-theme="home"] {
  --bg_image: url('https://i.ibb.co/0cKbxck/Untitled-design.png');
}

[data-theme="light"] {
  --bg_image: url('https://r2backdrops.com/cdn/shop/products/1953-WHITE_SUBTLE_TEXTURE_-_60x60_Web.jpg?v=1580324997&width=416');
  --text_color: black;
  --border: black;
}

body {
  padding: 0;
  padding-bottom: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
  min-height: 100vh;
  background-image: var(--bg_image); 
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.welcome {
  color: white;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-top: 200px;
}

.wel {
  display: flex;
  justify-content: flex-start;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 5px;
  font-size: 70px;
  margin-left: 15px;
  color: white;
}

.welcome p {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  letter-spacing: 3px;
  font-size: 30px;
  margin-left: 15px;
}

.tbName {
  display: flex;
  justify-content: flex-start;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  color: #8fc651;
  font-size: 90px;
  margin-left: 15px;
}

.welcomeBtn {
  width: 200px !important;
  background-color: transparent !important;
  margin-top: 30px;
  margin-left: 27px;
  font-family: 'Oswald', sans-serif;
  border: 3px solid #ce4727 !important;
}

.welcomeBtn:hover {
  border: 4px solid goldenrod !important;
  background-color: transparent !important;
  color: gray !important;
}

.signBtn {
  width: 200px !important;
  background-color: transparent !important;
  margin-top: 30px;
  margin-left: 27px;
  border: 3px solid #0097b2 !important;
}

.signBtn:hover {
  border: 4px solid goldenrod !important;
  background-color: transparent !important;
  color: gray !important;
}

.homeRow {
  height: 72px;
}

.icon {
  color: #8fc651;
  width: 20px;
  height: 30px;
  object-fit: cover;
  margin-right: 25px;
  :hover {
    color: goldenrod;
    width: 30px;
    height: 40px;
    object-fit: cover;
  }
}

.icon:hover {
  width: 21px;
  height: 32px;
}

.delIcon {
  color: #ce4727;
}

.icons {
  position: absolute;
  right: 0px;
  top: 15px;
  max-width: 175px;
}

.snapShot {
  width: 350px;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 4px solid #577073;
}

.ulSnapshots {
  display: flex;
  justify-content: center;
}

.deleteSnapshot {
  display: flex;
  justify-content: center;
}

.deleteImg {
  width: 350px;
}

.navbar {
  background-color: #444747;
  height: 50px;
}

.brand {
  color: #8fc651 !important;
  font-size: 24px;
}

.brand:hover {
  font-size: 25px !important;
  color: #80B049 !important;
}

.navLink {
  color: #a6a6a6;
  font-size: 14px;
}

.navLink:hover {
  color: goldenrod !important;
  font-size: 15px !important;
}

.navLink:active {
  color: goldenrod !important;
}

.navbar button {
  position: absolute;
  right: 15px;
  height: 35px;
  font-size: 12px;
  background-color: #ce4727;
  color:#A1A3A1;
}

.navbar button:hover {
  background-color: transparent;
  border: 2px solid white;
}

.allStrategies h1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: var(--text_color);
  letter-spacing: 3px;
  margin-left: 30px !important;
}

.sContainer {
  display: flex !important;
  justify-content: center !important;
  max-width: 800px !important;
  margin-top: 65px;
} 

.stratBtn {
  background-color: #0097b2 !important;
  font-size: 16px !important;
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: 2px;
  margin-left: 100px !important;
}

.stratBtn:hover {
  background-color: transparent !important;
  border: 2px solid goldenrod !important;
  color: #0097b2 !important;
}

.favIcon {
  color: #8fc651;
  width: 20px !important;
  height: 30px !important;
  object-fit: cover;
  margin-right: 25px;
  position: absolute;
  top: 10px;
  left: 15px;
  :hover {
    color: yellow;
    width: 30px;
    height: 40px;
    object-fit: cover;
  }
}

.stratHead h1 {
  color: var(--text_color) !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-style: extra-light !important;
  font-size: 30px !important;
  margin-top: 40px !important;
  margin-left: 30px !important;
}

.stratCardList {
  width: 800px;
}

.sCardContainer {
  display: flex;
  justify-content: center;
  max-width: 776px;
}

.viewStratPg {
  color: #A1A3A1;
}

.viewTradePg {
  color: #A1A3A1;
}

.viewTradePg img {
  height: 200px !important;
  width: 300px !important;
  object-fit: cover !important;
}

.newTradeBtn {
  background-color: #8fc651 !important;
  font-size: 16px !important;
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: 2px;
}

.newTradeBtn:hover {
  background-color: transparent !important;
  border: 3px solid goldenrod !important;
  color: #A1A3A1 !important;
}

.tradesPg {
  overflow-anchor: none;
}

.tradesPage {
  margin-top: 65px;
}

.tradeCard {
  color: var(--text_color) !important;
  background-color: transparent !important;
  border: 2px solid #A1A3A1 !important;
  margin-bottom: 35px;
  height: 150px;
  width: 776px;
  padding: 0px;
}

.tradeCard:hover {
  border: 3px solid #0097b2 !important;
  height: 155px !important;
}

.tradeCard header {
  border: 2px solid #A1A3A1 !important;
}

.statusBar {
  height: 142px;
}

.tcList {
  display: flex;
  justify-content: center;
  max-width: 1800px;
}

.tcHeader {
  max-width: 800px;
  margin-top: 40px;
}

.tcListDiv {
  width: 1750px;
}

.tcHeader h1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: var(--text_color);
  letter-spacing: 3px;
  margin-left: 5px !important;
}

.tradeCard img {
  height: 146px !important;
  width: 250px !important;
  margin-left: 18px;
  border: 2px solid black;
  object-fit: cover;
}

.status {
  width: 20px;
  position: absolute;
  left: 0px;
  border: 2px solid black;
}

.tradeCard p {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
}

.tradeCard h3 {
  color: var(--text_color) !important;
  font-family: 'Roboto Condensed', sans-serif!important;
  font-style: extra-light !important;
  line-height: 80%;
  letter-spacing: 2px;
  font-size: 16px !important;
}

.fIcon {
  position: absolute;
  top: 45px;
  right: 65px;
  color: #8fc651;
}

.tradeCardInfo {
  margin-top: 65px;
  margin-left: 20px;
}

.tradeAsset {
  margin-top: 50px;
  margin-left: 65px;
}

.tradeIcons {
  position: absolute !important;
  right: 0px !important;
  bottom: 15px !important;
  max-width: 175px !important;
}

.strategyCard {
  color: var(--text_color) !important;
  background-color: transparent !important;
  border: 2px solid #A1A3A1 !important;
  margin-bottom: 35px;
  height: 150px;
}

.strategyCard:hover {
  border: 3px solid #8fc651 !important;
  height: 155px !important;
}

.stratInfo {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
  margin-top: 40px;
}

.tradeFormCont {
  display: flex;
  justify-content: center;
}

.tradeForm {
  margin-top: 70px;
  color: #A1A3A1 !important;
  font-size: 12px;
}

.tradeForm input {
  width: 400px;
  background-color: #A1A3A1 !important;
  color: var(--text_color) !important;
}

.tradeForm select {
  width: 400px;
  background-color: #A1A3A1 !important;
  color: var(--text_color) !important;
  font-family: 'Oswald', sans-serif;
}

.tradeForm .select {
  color: var(--text_color) !important;
  font-family: 'Oswald', sans-serif;
}

.tradeForm ::placeholder {
  color: var(--text_color) !important;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.tradeForm Button {
  background-color: #0097b2;
}

.tradeFormBtn {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif !important;
  width: 400px;
}

.tradeFormBtn:hover {
  background-color: transparent !important;
  border: 3px solid goldenrod !important;
  color: #0097b2 !important;
}

.stratFormCont {
  display: flex;
  justify-content: center;
}

.stratForm {
  margin-top: 50px;
  color: #A1A3A1 !important;
  font-size: 12px;
}

.stratForm input {
  width: 400px;
  background-color: #A1A3A1 !important;
  color: var(--text_color) !important;
}

.stratForm select {
  width: 400px;
  background-color: #A1A3A1 !important;
  color: var(--text_color) !important;
  font-family: 'Oswald', sans-serif;
}

.stratForm .select {
  font-family: 'Oswald', sans-serif;
}

.stratForm ::placeholder {
  color: var(--text_color) !important;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.stratForm select ::placeholder {
  color: var(--text_color) !important;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.stratSubmit {
  background-color: #0097b2 !important;
  font-size: 16px;
  font-family: 'Oswald', sans-serif !important;
  width: 400px !important;
}

.stratSubmit:hover {
  background-color: transparent !important;
  border: 3px solid goldenrod !important;
  color: #0097b2 !important;
}

.imgGlimpse {
  width: 200px;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 4px solid #577073 !important;
}

.imgGlimpses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.downloadBtn {
  font-size: 14px !important;
  font-family: 'Oswald', sans-serif !important;
  border: 1.5px solid !important;
  border-color: var(--border) !important;
  background-color: transparent !important;
  color: #0097b2 !important;
}

.downloadBtn:hover {
  background-color: transparent !important;
  border: 2px solid #0097b2 !important;
  color: #0097b2 !important;
}

.singleStratTrades {
  max-width: 1800px;
}

.singleStratInfo {
    background-color: #0097b2;
    border: 1px solid white;
    width: 800px !important;
    height: 200px;
    margin-top: 100px;
    color: var(--text_color) !important;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}

.singleStratInfo h1 {
  color: black;
}

.ssInfo {
  margin-top: 20px;
  margin-left: 35px;
}

.ssRules {
  margin-top: 20px;
}

.dLoadBtn {
  width: 800px;
  margin-bottom: 15px;
}

.winLoss {
  width: 800px !important;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
}

.winLoss Col {
  margin-top: 100px;
}

.line {
  display: flex !important;
  justify-content: center !important;
}

.viewStratBtn {
  display: flex !important;
  justify-content: flex-end !important;
  width: 824px !important;
  margin-top: 30px;
}

.export {
  background-color: #0097b2 !important;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.tableDiv {
  font-family: 'Oswald', sans-serif;
  color: var(--text_color);
  margin-top: 100px;
  background-color: transparent;
}

.tableDiv td {
  font-size: 13px;
}

.tableDiv Button {
  margin-bottom: 20px;
}

.tableDiv Button:hover {
  background-color: transparent !important;
  border: 2px solid #0097b2 !important;
  color: #0097b2 !important;
}

.tickerCard {
  display: flex;
  justify-content: space-evenly;
  background-color: #303131 !important;
  color: var(--text_color) !important;
  font-family: 'Oswald', sans-serif !important;
  font-size: 12px !important;
  line-height: 0% !important;
  height: 37px !important;
  max-width: 100px !important;
  margin-right: 15px !important;
  border: none !important;
  letter-spacing: 1.5px !important;
}

.tickAsset {
  font-size: 12px !important;
}

.tickerCard p {
  margin-top: 10px;
  margin-left: 15px;
}

.marquee {
  background-color: #303131 !important;
  border-bottom: 1px solid #717474 !important;
  display: flex !important;
  justify-content: space-evenly !important;
}

.caret {
  position: absolute;
  top: 10px;
}

.marBtn {
  position: absolute;
  right: 5px;
  background-color: transparent !important;
  width: 50px;
  height: 25px;
  border: none !important;
}

.marBtn:hover {
  background-color: transparent !important;
  border: none !important;
}

.marIcon {
  position: absolute;
  top: 3px;
  width: 15px;
  right: 16px;
}

.marIcon:hover {
  width: 18px;
  color: #8fc651 !important;
}

.dark_mode {
  position: absolute;
  right: 115px;
  margin-top: -20px;
  margin-left: 10px;
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #242424;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.dark_mode_label:hover {
  width: 70px;
  height: 35px;
}

.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #777, #3a3a3a);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_input:checked + .dark_mode_label {
  background: #ebebeb;
}

.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #ffcc89, #d8860b);
}

.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label .mode {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}

.dark_mode_label .moon {
  left: 5px;
  color: #fff;
  transition: 0.3s;
}

.dark_mode_label .sun {
  left: 40px;
  color: #7e7e7e;
  transition: 0.3s;
}

.dark_mode_input:checked + .dark_mode_label .moon {
  fill: #7e7e7e;
}

.dark_mode_input:checked + .dark_mode_label .sun {
  fill: #fff;
}

.singleTradeHead {
  width: 800px !important;
  margin-top: 100px;
  color: var(--text_color);
  font-family: 'Oswald', sans-serif;
}

.sTradeStatus {
  position: relative !important;
}

.sTradeStatus div {
  position: absolute !important;
  display: flex !important;
  text-align: center !important;
  top: 8px;
  right: 25px !important;
  height: 40px !important;
  width: 60px !important; 
}

.sTradeStatus div h6 {
  margin: auto !important; 
}

.sTradeStrat {
  display: flex !important;
  justify-content: flex-end !important;
  width: 800px !important;
  color: var(--text_color);
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  margin-top: 20px;
}

.sTradeImg {
  width: 400px !important;
  margin: 0px !important;
}

.sTradeImg img {
  margin-bottom: 20px !important;
  width: 400px !important;
  border: 3px solid #0097b2;
}

.sTradeBottom {
  display: flex !important;
  max-width: 800px !important;
}

.sTradeInfo {
  width: 400px !important;
  height: 200px !important;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
}

.sTradeDetails {
  margin-left: 70px !important;
  margin-top: 40px !important;
}

.sTradeNotes {
  margin-top: 70px;
  margin-left: 70px;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
}

.sTradeStrat:hover {
  color: goldenrod;
  font-size: 29px;
}

.sTradeBtns {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 100px !important;
  margin-right: 20px !important;
}

.sTradeBtns Button {
  margin-left: 25px !important;
}

.sTradeBtns Button:hover {
  background-color: transparent;
  border: 2px solid goldenrod;
}

.sTradeEdit {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  border: var(border) !important;
  background-color: transparent !important;
  color: #0097b2 !important;
}

.sTradeEdit:hover {
  background-color: transparent !important;
  border: 2px solid goldenrod !important;
}

.ruleBtn {
  font-size: 14px !important;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif !important;
  border: var(border) !important;
  background-color: transparent !important;
  color: #0097b2 !important;
}

.ruleBtn:hover {
  background-color: transparent !important;
  border: 2px solid #0097b2 !important;
  color: #0097b2 !important;
}

.footer {
  position: absolute !important;
  bottom: 0px !important;
  margin-top: 50px !important;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100% !important;
  padding: 0px !important;
  height: 100px !important;
}

.foot {
  background-color: black;
  height: 100px;
}

.foot p {
  font-size: 12px;
  color: #0097b2;
  font-family: 'Oswald', sans-serif;
}
