@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Fira+Sans:ital,wght@0,100;1,100&family=Noto+Sans+Cypro+Minoan&family=Oswald:wght@200;700&family=Vidaloka&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('https://www.designyourway.net/diverse/darkpat/COLOURlovers.com-Gothic_Tablecloth.jpg')
}

.home {
  color: white;
}

.icon {
  color: #8fc651;
  width: 20px;
  height: 30px;
  object-fit: cover;
  margin-right: 25px;
  :hover {
    color: yellow;
    width: 30px;
    height: 40px;
    object-fit: cover;
  }
}

.delIcon {
  color: #ce4727;
}

.icons {
  position: absolute;
  right: 0px;
  top: 15px;
  max-width: 175px;
}

.snapShot {
  width: 350px;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 4px solid #577073;
}

.ulSnapshots {
  display: flex;
  justify-content: center;
}

.deleteSnapshot {
  display: flex;
  justify-content: center;
}

.deleteImg {
  width: 350px;
}

.navbar {
  background-color: #444747;
  height: 50px;
}

.brand {
  color: #8fc651;
  font-size: 24px;
}

.navLink {
  color: #a6a6a6;
  font-size: 14px;
}

.navbar button {
  position: absolute;
  right: 15px;
  height: 35px;
  font-size: 12px;
  background-color: #ce4727;
  color:#A1A3A1;
}

.allStrategies h1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-left: 30px;
}

.sContainer {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin-top: 65px;
} 

.stratBtn {
  background-color: #0097b2;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  margin-left: 100px;
}

.favIcon {
  color: #8fc651;
  width: 20px;
  height: 30px;
  object-fit: cover;
  margin-right: 25px;
  position: absolute;
  top: 10px;
  left: 15px;
  :hover {
    color: yellow;
    width: 30px;
    height: 40px;
    object-fit: cover;
  }
}

.stratHead h1 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: extra-light;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 30px;
}

.stratCardList {
  width: 800px;
}

.sCardContainer {
  display: flex;
  justify-content: center;
  max-width: 776px;
}

.viewStratPg {
  color: #A1A3A1;
}

.viewTradePg {
  color: #A1A3A1;
}

.viewTradePg img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.newTradeBtn {
  background-color: #8fc651;
}

.tradesPg {
  overflow-anchor: none;
}

.tradesPage {
  margin-top: 65px;
}

.tradeCard {
  color: white;
  background-color: transparent;
  border: 2px solid #A1A3A1;
  margin-bottom: 35px;
  height: 150px;
  width: 776px;
  padding: 0px;
}

.tradeCard header {
  border: 2px solid #A1A3A1;
}

.statusBar {
  height: 142px;
}

.tcList {
  display: flex;
  justify-content: center;
  max-width: 1800px;
}

.tcHeader {
  max-width: 800px;
  margin-top: 40px;
}

.tcListDiv {
  width: 1750px;
}

.tcHeader h1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-left: 5px;
}

.tradeCard img {
  height: 146px;
  width: 250px;
  margin-left: 18px;
  border: 2px solid black;
  object-fit: cover;
}

.status {
  width: 20px;
  position: absolute;
  left: 0px;
  border: 2px solid black;
}

.tradeCard p {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
}

.tradeCard h3 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: extra-light;
  line-height: 80%;
  letter-spacing: 2px;
  font-size: 16px;
}

.fIcon {
  position: absolute;
  top: 45px;
  right: 65px;
  color: #8fc651;
}

.tradeCardInfo {
  margin-top: 65px;
  margin-left: 20px;
}

.tradeAsset {
  margin-top: 50px;
  margin-left: 65px;
}

.tradeIcons {
  position: absolute;
  right: 0px;
  bottom: 15px;
  max-width: 175px;
}

.strategyCard {
  color: white;
  background-color: transparent;
  border: 2px solid #A1A3A1;
  margin-bottom: 35px;
  height: 150px;

}

.stratInfo {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
  margin-top: 40px;
}

.tradeFormCont {
  display: flex;
  justify-content: center;
}

.tradeForm {
  margin-top: 50px;
  color: #A1A3A1;
  font-size: 12px;
}

.tradeForm input {
  width: 400px;
  background-color: #A1A3A1;
  color: white;
}

.tradeForm select {
  width: 400px;
  background-color: #A1A3A1;
  color: white;
}

.tradeForm ::placeholder {
  color: white;
  font-size: 14px;
}

.tradeForm Button {
  background-color: #8fc651;
}

.stratForm {
  margin-top: 50px;
  color: #A1A3A1;
  font-size: 12px;
}

.stratForm input {
  width: 400px;
  background-color: #A1A3A1;
  color: white;
}

.stratForm select {
  width: 400px;
  background-color: #A1A3A1;
  color: white;
}

.stratForm ::placeholder {
  color: white;
  font-size: 14px;
}

.stratForm button {
  background-color: #0097b2;
}

.imgGlimpse {
  width: 200px;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 4px solid #577073;
}

.imgGlimpses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.downloadBtn {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  border: 1.5px solid white;
  color: #0097b2;
  background-color: transparent;
}

.singleStratTrades {
  max-width: 1800px;
}

.singleStratInfo {
    background-color: #0097b2;
    border: 1px solid white;
    width: 800px;
    height: 200px;
    margin-top: 100px;
    color: white;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}

.singleStratInfo h1 {
  color: black;
}

.ssInfo {
  margin-top: 20px;
  margin-left: 35px;
}

.ssRules {
  margin-top: 20px;
}

.dLoadBtn {
  width: 800px;
  margin-bottom: 15px;
}

.winLoss {
  width: 800px;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  line-height: 80%;
  letter-spacing: 2px;
}

.winLoss Col {
  margin-top: 100px;
}

.line {
  display: flex;
  justify-content: center;
}

.viewStratBtn {
  display: flex;
  justify-content: flex-end;
  width: 824px;
  margin-top: 30px;
}

.export {
  background-color: #0097b2;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.tableDiv {
  font-family: 'Oswald', sans-serif;
  color: white;
  margin-top: 100px;
  background-color: transparent;
}

.tableDiv td {
  font-size: 13px;
}

.tableDiv Button {
  margin-bottom: 20px;
}
